---

---
<div class="mb-4 ml-4 mr-4">
    <h2 class="mb-2 text-center text-primary font-semibold text-2xl lg:text-6xl md:text-4xl">Descripción</h2>
    <p class="text-center text-secundary lg:text-2xl">
        Cuento con más de 4 años de experiencia profesional en el desarrollo de software utilizando Java y bases de datos
        relacionales con SQL. Me destaco no solo por mis habilidades técnicas, sino también por mis valores personales:
        honestidad, transparencia, nobleza, perfeccionador, pensamiento analítico y un enfoque proactivo para la resolución
        de problemas. Soy una persona comprometida con el aprendizaje continuo, apasionado por la programación y atento a
        las nuevas tendencias tecnológicas.
    </p>
</div>