---

---
<div class="mb-4 ml-4 mr-4">
    <h2 class="mb-2 text-center text-primary font-semibold text-2xl lg:text-6xl md:text-4xl">Descripción</h2>
    <p class="text-center text-secundary lg:text-2xl">
        Soy una persona apasionada por la tecnología, con un fuerte interés en el aprendizaje continuo
        y la adopción de nuevas tendencias de desarrollo. Estoy siempre al tanto de las noticias del
        mundo de la programación. Me caracterizo por ser analítico y detallista, lo que me permite
        entregar soluciones de alta calidad.  Además, me considero alguien noble, que valora el
        trabajo en equipo.
    </p>
</div>