---

---
<div class="mt-8 mb-8 ml-4 mr-4">
    <table class="w-full rounded-t-xl overflow-hidden">
        <thead class="bg-primary">
            <tr>
                <th colspan="2" class="text-center text-xl text-secondary md:text-2xl lg:text-4xl">Información basica</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-x divide-primary">
            <tr>
                <td class="border-2 border-primary p-2 md:text-lg">Nombre</td>
                <td class="border-2 border-primary p-2 md:text-lg md:text-center">Luis Gerardo Marquez</td>
            </tr>
            <tr>
                <td class="border-2 border-primary p-2 text-lg">Edad</td>
                <td class="border-2 border-primary p-2 md:text-lg md:text-center">29</td>
            </tr>
            <tr>
                <td class="border-2 border-primary p-2 md:text-lg">Estudios</td>
                <td class="border-2 border-primary p-2 md:text-lg md:text-center">Lic. En Ciencias de la Informatica</td>
            </tr>
            <tr>
                <td class="border-2 border-primary p-2 md:text-lg">Experiencia</td>
                <td class="border-2 border-primary p-2 md:text-lg md:text-center">4 años de experiencia laboral</td>
            </tr>
            <tr>
                <td class="border-2 border-primary p-2 md:text-lg">Ingles</td>
                <td class="border-2 border-primary p-2 md:text-lg md:text-center">Nivel A2</td>
            </tr>
        </tbody>
    </table>
</div> 