---
interface ContentProps {
    text: string;
    icon: string;
    alt: string;
}
const { content } = Astro.props;
const { text, icon, alt } = content as ContentProps;
---
<button id="btnPortfolio" class="flex flex-row justify-center items-center bg-primary rounded-lg text-secondary p-1 w-full h-9 hover:text-white hover:underline">
    <img class="h-full px-2" src={ icon } alt={ alt }>
    {text}
</button>

<script>
    const button = document.getElementById("btnPortfolio") as HTMLButtonElement;
    button.addEventListener("click", () => {
        window.location.href = "/portafolio";
    });
</script>