---
interface SendButtonProps {
    text: string;
    icon: string;
    iconHover: string;
    alt: string;
}
const { content } = Astro.props;
const { text, icon, iconHover, alt } = content as SendButtonProps;
---
<h3 class="text-primary font-bold">Nombre completo:</h3>
<div class="relative mt-2 mb-2 wx-full">
    <input
        id="name-input"
        type="text"
        placeholder=""
        class="block px-2.5 pb-2 pt-1.5 w-full text-sm text-secondary bg-transparent rounded-lg border border-secondary appearance-none focus:outline-none focus:ring-0 focus:border-primary peer"
    />
    <label
        for="name-input"
        class="absolute text-sm text-secondary duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1 peer-focus:text-primary"
    >
        *Nombre completo
    </label>
    <p class="mt-1 text-xs text-red-400">Ejemplo: Juan Pérez</p>
</div>
<h3 class="text-primary font-bold">Correo electrónico:</h3>
<div class="relative mt-2 mb-2 wx-full">
    <input
        id="email-input"
        type="email"
        placeholder=""
        class="block px-2.5 pb-2 pt-1.5 w-full text-sm text-secondary bg-transparent rounded-lg border border-secondary appearance-none focus:outline-none focus:ring-0 focus:border-primary peer"
    />
    <label
        for="email-input"
        class="absolute text-sm text-secondary duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1 peer-focus:text-primary"
    >
        *Correo electrónico
    </label>
    <p class="mt-1 text-xs text-red-400">Ejemplo: micorreo@gmail.com</p>
</div>
<h3 class="text-primary font-bold">Mensaje:</h3>
<div class="relative mt-2 mb-2 wx-full">
    <textarea
        id="message-input"
        placeholder=""
        class="h-40 block px-2.5 pb-2 pt-1.5 w-full text-sm text-secondary bg-transparent rounded-lg border border-secondary appearance-none focus:outline-none focus:ring-0 focus:border-primary peer"
    />
    <label
        for="message-input"
        class="absolute text-sm text-secondary duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 left-1 peer-focus:text-primary"
    >
        *Mensaje
    </label>
    <p class="mt-1 text-xs text-red-400">Ejemplo: Hola, me gustaría saber más sobre tus servicios.</p>
</div>
<button id="btnSend" class="flex flex-row justify-center items-center bg-primary rounded-lg text-secondary p-1 w-full h-9 hover:text-white hover:underline">
    <img
        id="imgSend"
        class="h-full px-2"
        src={ icon }
        alt={ alt }
        data-icon={ icon }
        data-icon-hover={ iconHover }
    />
    {text}
</button>

<script>
    const button = document.getElementById("btnSend") as HTMLButtonElement;
    const img = document.getElementById("imgSend") as HTMLImageElement;
    const icon = img.dataset.icon as string;
    const iconHover = img.dataset.iconHover as string;
    button.addEventListener("mouseover", () => {
        img.src = iconHover;
    });
    button.addEventListener("mouseout", () => {
        img.src = icon;
    });
    button.addEventListener("click", () => {
        window.location.href = "/portafolio";
    });
</script>