---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import BasicCard from '../components/BasicCard.astro';
import MyTable from '../components/MyTable.astro';
import Description from '../components/Description.astro';
import CarruselCardPhone from '../components/CarruselCardPhone.astro';
import CarruselCardDesktop from '../components/CarruselCardDesktop.astro';

const information = [
	{
		image: 'assets/logo_Inbursa.png',
		imageTitle: 'Inbursa',
		description: 'Participación activa en el desarrollo y mantenimiento de microservicios utilizando Java, Spring Boot y PL/SQL. Colaboración constante dentro de un equipo ágil bajo la metodología Scrum, resolución eficiente de incidencias en producción. Uso de Git y Jira para el control de versiones y gestión colaborativa del código.',
		tecnologies: [
			{
				name: 'Años',
				image: 'assets/experiencia_3.svg'
			},
			{
				name: 'Java',
				image: 'assets/java.svg'
			},
			{
				name: 'Spring',
				image: 'assets/springboot.svg'
			},
			{
				name: 'PL/SQL',
				image: 'assets/plsql.svg'
			},
			{
				name: 'Git',
				image: 'assets/git.svg'
			}
		]
	},
	{
		image: 'assets/logo_biller_ticket.png',
		imageTitle: 'BillerTicket',
		description: 'Encargado del mantenimiento y mejora continua colaborativamente de una aplicación web desarrollada con Java y Spring Boot en el backend, y Vue.js con Vuetify en el frontend. Participación en la corrección de errores, implementación de nuevas funcionalidades, ajustes visuales y optimización de la experiencia de usuario.',
		tecnologies: [
			{
				name: 'Meses',
				image: 'assets/experiencia_6.svg'
			},
			{
				name: 'Java',
				image: 'assets/java.svg'
			},
			{
				name: 'JavaScript',
				image: 'assets/javascript.svg'
			},
			{
				name: 'Spring',
				image: 'assets/springboot.svg'
			},
			{
				name: 'Vue.js',
				image: 'assets/vue.svg'
			},
			{
				name: 'Vuetify',
				image: 'assets/vuetify.svg'
			},
			{
				name: 'Git',
				image: 'assets/git.svg'
			}
		]
	},
	{
		image: 'assets/logo_triplede.png',
		imageTitle: 'TripleDe',
		description: 'Colaboración en el mantenimiento y mejora de una aplicación web desarrollada con Java y JSF, integrada con el ERP NetSuite. Desarrollo de tareas programadas ("cron job") para sincronizar datos entre NetSuite y base de datos.',
		tecnologies: [
			{
				name: 'Meses',
				image: 'assets/experiencia_9.svg'
			},
			{
				name: 'Java',
				image: 'assets/java.svg'
			},
			{
				name: 'JSF',
				image: 'assets/java_server_faces.svg'
			},
			{
				name: 'SQL',
				image: 'assets/plsql.svg'
			},
			{
				name: 'NetSuite',
				image: 'assets/netsuite.svg'
			}
		]
	},
]
---

<Layout>
	<BasicCard title="Desarrollador de software" image="assets/home_image_one.png"/>
	<MyTable/>
	<Description/>
	<div class="block md:hidden">
		<CarruselCardPhone information={ information }/>
	</div>
	<div class="hidden md:block">
		<CarruselCardDesktop information={ information } />
	</div>
</Layout>
