---
import Layout from '../layouts/Layout.astro';
import BasicCard from '../components/BasicCard.astro';
import MyTable from '../components/MyTable.astro';
import Description from '../components/Description.astro';
import CarruselCardPhone from '../components/CarruselCardPhone.astro';
import CarruselCardDesktop from '../components/CarruselCardDesktop.astro';
import Knowledge from '../components/Knowledge.astro';
import PortfolioButton from '../components/PortfolioButton.astro';
import ContactButton from '../components/ContactButton.astro';

const information = [
	{
		image: 'assets/logo_Inbursa.png',
		imageTitle: 'Inbursa',
		description: 'Participación activa en el desarrollo y mantenimiento de microservicios utilizando Java, Spring Boot y PL/SQL. Colaboración constante dentro de un equipo ágil bajo la metodología Scrum, resolución eficiente de incidencias en producción. Uso de Git y Jira para el control de versiones y gestión colaborativa del código.',
		tecnologies: [
			{
				name: 'Años',
				image: 'assets/experiencia_3.svg'
			},
			{
				name: 'Java',
				image: 'assets/java.svg'
			},
			{
				name: 'Spring',
				image: 'assets/springboot.svg'
			},
			{
				name: 'PL/SQL',
				image: 'assets/plsql.svg'
			},
			{
				name: 'Git',
				image: 'assets/git.svg'
			}
		]
	},
	{
		image: 'assets/logo_biller_ticket.png',
		imageTitle: 'BillerTicket',
		description: 'Participación en el mantenimiento y mejora continua de una aplicación web desarrollada con Java y Spring Boot en el backend, y Vue.js con Vuetify en el frontend. Participación en la corrección de errores, implementación de nuevas funcionalidades, ajustes visuales y optimización de la experiencia de usuario.',
		tecnologies: [
			{
				name: 'Meses',
				image: 'assets/experiencia_6.svg'
			},
			{
				name: 'Java',
				image: 'assets/java.svg'
			},
			{
				name: 'JavaScript',
				image: 'assets/javascript.svg'
			},
			{
				name: 'Spring',
				image: 'assets/springboot.svg'
			},
			{
				name: 'Vue.js',
				image: 'assets/vue.svg'
			},
			{
				name: 'Vuetify',
				image: 'assets/vuetify.svg'
			},
			{
				name: 'Git',
				image: 'assets/git.svg'
			}
		]
	},
	{
		image: 'assets/logo_triplede.png',
		imageTitle: 'TripleDe',
		description: 'Colaboración en el mantenimiento y mejora de una aplicación web desarrollada con Java y JSF, integrada con el ERP NetSuite. Desarrollo de tareas programadas ("cron job") para sincronizar datos entre NetSuite y base de datos.',
		tecnologies: [
			{
				name: 'Meses',
				image: 'assets/experiencia_9.svg'
			},
			{
				name: 'Java',
				image: 'assets/java.svg'
			},
			{
				name: 'JSF',
				image: 'assets/java_server_faces.svg'
			},
			{
				name: 'SQL',
				image: 'assets/plsql.svg'
			},
			{
				name: 'NetSuite',
				image: 'assets/netsuite.svg'
			}
		]
	},
]

const knowledge = [ 
	{
		image: 'assets/java.svg',
		imageTitle: 'Java',
		knowledgeTitle: 'Java',
		description: 'Cuento con más de cuatro años de experiencia desarrollando software con Java, siendo esta la tecnología que mejor domino hasta el día de hoy.'
	},
	{
		image: 'assets/springboot.svg',
		imageTitle: 'Spring Boot',
		knowledgeTitle: 'Spring Boot',
		description: 'El framework con el que más he trabajado es Spring Boot; domino la inyección de dependencias, el módulo Spring Data y la creación de APIs REST.'
	},
	{
		image: 'assets/plsql.svg',
		imageTitle: 'SQL',
		knowledgeTitle: 'SQL',
		description: 'He trabajado con diversas bases de datos relacionales como MySQL, Oracle y SQL Server. Además, sé programar en PL/SQL.'
	},
	{
		image: 'assets/mongodb.svg',
		imageTitle: 'Mongo DB',
		knowledgeTitle: 'Mongo DB',
		description: 'Conocimientos en la elaboración de consultas complejas en bases de datos no relacionales, específicamente en MongoDB.'
	},
	{
		image: 'assets/kotlin.svg',
		imageTitle: 'Kotlin',
		knowledgeTitle: 'Kotlin',
		description: 'Actualmente estoy desarrollando proyectos personales para aprender a crear aplicaciones Android utilizando Jetpack Compose.'
	},
	{
		image: 'assets/javascript.svg',
		imageTitle: 'JavaScript',
		knowledgeTitle: 'JavaScript',
		description: 'Tengo conocimientos en JavaScript, creando proyectos con Astro, y aspiro a conocer frameworks como Angular, React y Vue.'
	},
	{
		image: 'assets/git.svg',
		imageTitle: 'Git',
		knowledgeTitle: 'Git',
		description: 'Tengo experiencia colaborando en equipo, corrigiendo errores y mejorando proyectos, utilizando Git como sistema de control de versiones.'
	},
	{
		image: 'assets/docker.svg',
		imageTitle: 'Docker',
		knowledgeTitle: 'Docker',
		description: 'Tengo conocimientos sobre contenedores con Docker, ya que configuro localmente mis proyectos personales utilizando esta herramienta.'
	},
	{
		image: 'assets/cplusplus.svg',
		imageTitle: 'C++',
		knowledgeTitle: 'C++',
		description: 'Durante mi formación académica aprendí C++, lenguaje con el que reforcé mi lógica de programación al desarrollar distintos proyectos, incluyendo videojuegos con SFML.'
	}
]

const contentPortfolioButton = {
	text: 'Ver portafolio',
	icon: 'assets/portfolio.svg',
	iconHover: 'assets/portfolio_hover.svg',
	alt: 'Portafolio'
}

const contentContactButton = {
	icon: 'assets/contact.svg',
	iconHover: 'assets/contact_hover.svg',
	alt: 'Portafolio'
}
---

<Layout>
	<div class="mt-20">
		<BasicCard title="Desarrollador de software" image="assets/home_image_one.png"/>
	</div>
	<MyTable/>
	<Description/>
	<div class="block md:hidden">
		<CarruselCardPhone information={ information }/>
	</div>
	<div class="hidden md:block">
		<CarruselCardDesktop information={ information } />
	</div>
	<h2 class="mb-2 text-center text-primary font-semibold text-2xl lg:text-6xl md:text-4xl">Mis conocimientos</h2>
	<div class="pl-4 pr-4" >
		{
			knowledge.map(
				(item) => (
					<Knowledge knowledge={ item } />
				)
			)
		}
	</div>
	<div class="mx-auto my-6 w-3/4">
		<PortfolioButton content={ contentPortfolioButton }/>
	</div>
	<ContactButton content={ contentContactButton }/>
</Layout>
