---
import Layout from '../../layouts/Layout.astro';
import TextInput from '../../components/TextInput.astro';
const contentSendButton = {
	text: 'Enviar',
	icon: 'assets/send.svg',
	iconHover: 'assets/send_hover.svg',
	alt: 'Portafolio'
}
---
<Layout>
    <h2 class="mt-20 mb-2 text-center text-primary font-semibold text-2xl lg:text-6xl md:text-4xl">Contactame</h2>
    <div class="px-4">
        <TextInput content={ contentSendButton }/>
        <p>*Al enviar este formulario, aceptas nuestra <a class="text-primary decor" href="../privacidad/politicas" target="_blank">Política de Privacidad.</a></p>
    </div>
</Layout>